.c-content__header.col-full
  %h1.search-title
    = t('search.title_results', count: @posts.count)
- if @posts.any?
  .c-cards
    = render partial: 'posts/post', collection: @posts, cached: true

  = render 'layouts/pagination', records: @posts, items_per_page: Post::ITEMS_PER_PAGE, pagy: @pagy
- else
  = render 'layouts/blank_slate', records: 'Статтей'
