.c-dashboard-main {
  min-height: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;

  a {
    text-decoration: none;
    background-color: transparent;
  }

  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    z-index: 10;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  &__content {
    padding-left: 280px;
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;

    &-inner {
      padding: 30px 30px 0;
      -ms-flex: 1 1;
      flex: 1 1;
    }
  }

  &__sidebar {
    width: 280px;
    display: -ms-flexbox;
    display: flex;
    z-index: 11;
    overflow: hidden;
    min-width: 280px;
    position: relative;
    -ms-flex: 0 0 280px;
    flex: 0 0 280px;
    margin-top: -60px;
    padding-top: 60px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: fixed;
    height: 100vh;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);

    &.bg-royal {
      background-image: linear-gradient(to right, #141e30, #243b55) !important;
    }
  }
}

.c-dashboard-main__sidebar {
  &-inner {
    padding: 2px 1.5rem 1.5rem;
  }
}

.c-menu-container {
  position: relative;

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &-list-item {
    margin-bottom: 5px;
    padding: 0;
    position: relative;
  }

  &-list-link {
    -webkit-transition: height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
    transition: height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
    -o-transition: transform .2s, height 300ms, color 300ms, background-color 300ms;
    transition: transform .2s, height 300ms, color 300ms, background-color 300ms;
    transition: transform .2s, height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
    display: block;
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: 0.25rem;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    outline: none !important;

    i {
      text-align: center;
      width: 34px;
      height: 34px;
      line-height: 34px;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -16px;
      font-size: 1.2rem;
      opacity: .3;
      -webkit-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms;
    }

    &.active {
      background: rgba(255, 255, 255, 0.1);
      font-weight: bold;
    }

    &:hover {
      color: white;
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}


.scrollbar-container {
  position: relative;
  height: 100%;
  z-index: 15;
  width: 100%;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-touch-action: auto;
  touch-action: auto;
}

.c-dashboard-main__header {
  &--logo {
    padding: 0 1.5rem;
    height: 60px;
    width: 280px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;

    a {
      color: white;
      text-transform: uppercase;
    }
  }

  &--content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0 1.5rem;
    height: 60px;

    &-left {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
    }

    &-right {
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
    }
  }
}

.bg-white {
  background-color: #fff!important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bliss-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b)) !important;
  background-image: -webkit-linear-gradient(left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important;
  background-image: -o-linear-gradient(left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important;
}

.c-dashboard-main-wrapper {
  padding-top: 20px;
  -ms-flex: 1 1;
  flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  z-index: 8;
  position: relative;
}