.entry{ style: "background-image: url(#{post.thumbnail.url(:big_thumb)})" }
  .entry__content
    %span.entry__category
      %a{ href: posts_path }= Post.human_enum_name(:category, post.category)
    %h1
      %a{ href: post_path(post) }
        = post.title
    .entry__info
      = truncate(post.description, length: 40)
