.c-top-news {
  width: 100%;
  min-height: 300px;
  float: left;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 3px 3px 10px 0px rgba(212,212,212,1);
  margin: 5px 5px 10px;

  &__title {
    font-size: 1.2rem;
    border-bottom: 1px solid $brand-default;
    padding-bottom: 10px;
  }
}

ul.c-top-news__posts {
  position: relative;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-top-news__post {
  margin: 5px 0;
  border-bottom: 1px solid $brand-default;
  padding: 10px 0;

  &:hover {
    a {
      color: #0275d8;
    }
  }

  a {
    display: block;
    overflow: hidden;
    color: #222;
    transition: all 0.5s ease-in-out;
  }

  &--title {
    font-size: 16px;
    float: right;
    width: 80%;
  }

  &--time {
    color: #888;
    font-size: 14px;
    line-height: 16px;
    float: left;
    padding-top: 1px;
  }
}
