.c-cards {
  padding-top: 20px;
}

.c-card-box {
  width: 20%;
  padding: 5px;

  @media screen and (max-width: $lg) {
    width: 50%
  }

  @media screen and (max-width: $md) {
    width: 100%
  }
}

.c-card {
  background: white;
  text-decoration: none;
  color: #444;
  min-height: 100%;
  position: relative;
  margin-bottom: 20px;

  &__category {
    position: absolute;
    top: 30px;
    color: $brand-white;
    line-height: 24px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: $green;
    padding: 0 13px;
  }

  &__date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: $brand-green;
    width: 50px;
    height: 50px;
    padding: 4.5px 0;
    border-radius: 100%;
    color: white;
    text-align: center;

    &--day {
      font-size: 12px;
    }
    &--month {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  &__thumb {
    padding-bottom: 80%;
    background-size: cover;
    background-position: center center;

    &:hover::before {
      opacity: .2;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 80%;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0;
      background-color: #151515;
    }
  }

  &__content {
    padding: 20px;
    a { color: $brand-black; }
  }

  &__title {
    font-size: 20px;
    margin: 0;
    color: #333;
    margin-bottom: 15px;
  }

  &__description {
    flex: 1;
    line-height: 1.4;
  }

  &__actions {
    font-size: 14px;
    font-weight: bold;
    color: $brand-black;
    margin: 2em 0 0 0;
  }
}
