.c-cards {
}

.c-card-box {
  width: 25%;
  padding: 10px 20px;

  @media screen and (max-width: $lg) {
    width: 50%
  }

  @media screen and (max-width: $md) {
    width: 100%
  }
}

.c-card {
  background: white;
  text-decoration: none;
  color: #444;
  min-height: 100%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(212,212,212,1);

  &:hover {
    box-shadow: 6px 6px 10px 0px rgba(212,212,212,1);
  }

  &__category {
    position: absolute;
    top: 30px;
    color: $brand-white;
    line-height: 24px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: $green;
    padding: 0 13px;
    opacity: .8;
  }

  &__date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: $brand-green;
    width: 50px;
    height: 50px;
    padding: 4.5px 0;
    border-radius: 100%;
    color: white;
    text-align: center;

    &--day {
      font-size: 12px;
    }
    &--month {
      font-size: 12px;
      text-transform: uppercase;
    }

  }
  &__thumb {
    padding-bottom: 80%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover::before {
      opacity: .4;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 80%;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      opacity: 0;
      background-color: #151515;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__content {
    position: relative;
    padding: 15px 15px 10px;

    a { color: $brand-font; }
  }

  &__meta-data {
    color: #b2b2b2;
    font-size: 12px;
  }

  &__title {
    font-size: 16px;

    margin-bottom: 10px;
  }
}
