body.admin {
    margin-top: 80px;
}

section {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

body.home {
  background: #19191b;
  font-family: "metropolis-regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #656565;
  margin: 0;
  padding: 0;
}

.c-content {
  background: $brand-default;
  padding-top: 8.4rem;
  padding-bottom: 7.2rem;

  &--wrap {
    max-width: none;
    width: 1440px;
    overflow: hidden;
  }
}

.c-pageheader {
  min-height: 174px;
  position: relative;
  background-image: url(hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    opacity: .95;
  }
}

.featured {
  background-color: #151515;
  height: 564px;
  position: relative;

  &__column {
    float: left;
  }

  &__column--small {
    width: 33.333333333%;
    position: relative;

    .entry {
      height: 282px;

      h1 {
        font-size: 30px;
      }

      &__content {

        bottom: 2.4rem;
        padding: 0 10% 0 3rem;
      }

      &__category {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;

        a {
          background-color: $brand-green !important;
        }
      }

      &__meta {
        margin: 0;
        font-size: 1.1rem;
      }
    }
  }

  &__column--big {
    width: 66.66666%;
    position: relative;

    .entry {
      height: 564px;

      &__category {
        a {
          background-color: #01aef0;
        }
      }
    }
  }
}

.entry {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  h1 {
    a {
      color: #FFFFFF;
      border-bottom: 1px solid transparent;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }

  &__category {
    display: inline-block;
    font-family: "metropolis-bold", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2.4rem;

    a {
      display: inline-block;
      color: #FFFFFF;
      padding: 0 1.5rem;
    }
  }

  &__info {
    position: relative;
  }

  &__meta {
    list-style: none;
    margin: 0 0 0 6rem;
    padding: 0;
    font-family: "metropolis-semibold", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    li {
      display: inline-block;
      padding-left: 0;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    bottom: 6rem;
    width: 100%;
    padding: 0 20% 0 6rem;
    display: block;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: .5;
    background-color: #151515;
  }
}

.u-full-widht {
  width: 100%;
  float: left;
  padding: 0 20px;
}

.c-pageheader-content {
  overflow: hidden;
  padding: 0 75px;
  max-width: 1350px !important;
}

.c-pageheader--home {
  min-height: 480px;
  padding-top: 222px;
}

.box {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.header {
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
  display: block;

  &__nav-wrap {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    padding-top: 15px;
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "metropolis-medium", sans-serif;
    font-size: 15px;

    li {
      display: inline-block;
      position: relative;
      padding: 0 2rem;

      &.current a {
        color: white !important;
      }

      a {
        display: block;
        color: rgba(255, 255, 255, 0.6) !important;
        line-height: 39px;
        text-decoration: none;

        &:hover {
          color: white !important;
        }
      }
    }
  }

  &__search {
    color: white;
    height: 21px;
    min-width: 21px;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  &__content {
    position: relative;
    padding: 0 20px;
  }

  &__logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 501;

    img {
      width: 60px;
    }

    a {
      margin: 0 0 0 6px;
      padding: 0;
      outline: 0;
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  &__social {
    list-style: none;
    font-size: 23px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 12px;
    color: white;

    li {
      display: inline-block;
      margin-right: 5px;
      padding-left: 0;
    }
  }
}
