body.admin {
  margin-top: 80px;
}

section {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

body.main {
  background: #19191b;
  font-family: "metropolis-regular", sans-serif;
}

body.home {
  background: #19191b;
  font-family: "metropolis-regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #656565;
  margin: 0;
  padding: 0;
}

.c-content {
  background: $brand-default;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  @media screen and (max-width: $md) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__header {
    margin-bottom: 40px;

    &.center {
      text-align: center;
    }

    .fa {
      font-size: 30px;
    }

    @media screen and (max-width: $md) {
      padding: 0;
    }

    &-option {
      font-size: 2.8rem;
      line-height: 1.25;
      font-weight: 300;
      margin-top: 0;
      letter-spacing: .04rem;
      text-decoration: underline;

      @media screen and (max-width: $md) {
        font-size: 1.8rem;
      }
    }
  }

  &--wrap {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
  }

  &--narrow {
    .box {
      max-width: 95%;
    }
  }
}

.col-full {
  width: 100%;
}

.c-content--narrow {
  .c-content {
    &__media {
      position: relative;
      padding: 0;

      img {
        vertical-align: bottom;
      }
    }
    &__main {
      margin-top: 2rem;
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -.003em;
      font-weight: 400;

      img {
        width: 100%;
        display: block;
        margin: 25px auto;
      }

      @media screen and (max-width: $lg) {
        padding: 0;
      }

      @media screen and (max-width: $md) {
        padding: 0;
      }
    }

    &__actions {
      margin-top: 2rem;
      font-size: 21px;
      line-height: 1.58;
      letter-spacing: -.003em;
      font-weight: 400;

      a.link {
        display: block;
        margin-top: 10px;
        font-size: 15px;

        &:hover {
          text-decoration: underline;
        }
      }

      a.tag {
        display: inline-block;
        font-size: 1rem;
        line-height: 2rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 0 2rem;
        border-radius: 3px;
        background: #e2e2e2;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: 10px;
        color: #333333;
        position: relative;
        &:hover {
          text-decoration: underline;
        }
      }


      @media screen and (max-width: $md) {
        padding: 0;
      }
    }

    &__header {
      padding: 0;
      text-align: left;
      border-bottom: 1px solid $border-grey;

      @media screen and (max-width: $md) {
        padding: 0;
      }

      &-title {
        font-size: 2.8rem;
        line-height: 1.25;
        font-weight: 300;
        margin-top: 0;
        letter-spacing: .04rem;

        @media screen and (max-width: $md) {
          font-size: 1.8rem;
        }
      }

      &-meta {
        list-style: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1.2rem;
        font-size: 1.1rem;
        line-height: 1.8;
        position: relative;
        padding: 0;

        a { color: $brand-font; }

        .fa {
          font-size: 10px;
        }

        li {
          display: inline-block;
          padding-left: 0;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

.c-pageheader {
  min-height: 154px;
  position: relative;
  background-image: image-url('hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (max-width: $md) {
    min-height: 104px;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    opacity: .95;
  }
}

.featured {
  background-color: #151515;
  height: 564px;
  position: relative;

  &__column {
    float: left;
  }

  &__column--small {
    width: 33.333333333%;
    position: relative;

    @media screen and (max-width: $md) {
      width: 100%;
    }

    .entry {
      height: 282px;

      h1 {
        font-size: 30px;

        @media screen and (max-width: $md) {
          font-size: 1.7rem;
        }
      }

      &__content {
        bottom: 2.4rem;
        padding: 0 10% 0 3rem;

        @media screen and (max-width: $md) {
          bottom: 2rem;
          padding-left: 30px;
        }
      }

      &__category {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;

        @media screen and (max-width: $md) {
          font-size: 0.8rem;
          line-height: 1.4rem;
          margin-bottom: 1.4rem;
        }

        a {
          background-color: $brand-green !important;
        }
      }

      &__meta {
        margin: 0;
        font-size: 1.1rem;
      }
    }
  }

  &__column--big {
    width: 66.66666%;
    position: relative;

    @media screen and (max-width: $md) {
      width: 100%;
    }

    .entry {
      height: 564px;

      @media screen and (max-width: $md) {
        height: 282px;
      }

      &__category {
        a {
          background-color: #01aef0;
        }
      }
    }
  }
}

.entry {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  &:hover::before {
    opacity: .8;
  }

  h1 {
    a {
      color: $brand-white;
      border-bottom: 1px solid transparent;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    @media screen and (max-width: $md) {
      font-size: 1.7rem;
    }
  }

  &__category {
    display: inline-block;
    font-family: "metropolis-bold", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2.4rem;
    opacity: .8;

    @media screen and (max-width: $md) {
      font-size: 0.8rem;
      line-height: 1.4rem;
      margin-bottom: 1.4rem;
    }

    a {
      display: inline-block;
      color: $brand-white;
      padding: 0 1.5rem;
    }
  }

  &__info {
    position: relative;
    color: $brand-white;
  }

  &__meta {
    list-style: none;
    margin: 0 0 0 6rem;
    padding: 0;
    font-family: "metropolis-semibold", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    li {
      display: inline-block;
      padding-left: 0;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    bottom: 6rem;
    width: 100%;
    padding: 0 20% 0 6rem;
    display: block;

    @media screen and (max-width: $md) {
      bottom: 2rem;
      padding-left: 30px;
    }
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: .5;
    background-color: #151515;
  }
}

.c-pageheader-content {
  overflow: hidden;
  width: 100%;
  display: block;
}

.c-pageheader--home {
  min-height: 480px;
  padding-top: 154px;

  @media screen and (max-width: $md) {
    padding-top: 104px;
  }
}

.box {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: $md) {
    width: 100%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.header {
  position: absolute;
  text-align: center;
  top: 20px;
  width: 100%;
  display: block;

  &-freeze {
    @media screen and (max-width: $md) {
      position: fixed;
      background: black;
      z-index: 9999;
      top: 0;
      padding-top: 20px;
    }
  }

  &__nav-wrap {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    padding-top: 15px;

    @media screen and (max-width: $md) {
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "metropolis-medium", sans-serif;
    font-size: 15px;

    li {
      display: inline-block;
      position: relative;
      padding: 0 2rem;

      @media screen and (max-width: $md) {
        padding: 0 5px;
      }

      &.active > a, &.active > .dropdown > a {
        color: $brand-white;
      }

      & > a, & > .dropdown > a {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        line-height: 39px;
        text-decoration: none;

        &:hover {
          color: $brand-white;
        }
      }
    }
  }

  &__search {
    color: $brand-white;
    height: 21px;
    min-width: 21px;
    position: absolute;
    right: 20px;
    top: 15px;

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__content {
    position: relative;
  }

  &__logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 501;
    min-height: 40px;

    @media screen and (max-width: $md) {
      min-height: 35px;
    }

    img {
      width: 300px;

      @media screen and (max-width: $md) {
        width: 50%;
      }
    }

    a {
      color: $brand-white;
      font-size: 20px;
      margin: 0 0 0 6px;
      padding: 0;
      outline: 0;
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .dropdown-item {
    color: $brand-font;
    line-height: 30px;

    &:hover {
      color: $brand-font;
    }

    &:focus {
      color: $brand-white;
      background-color: $brand-font;
    }

    &.active {
      color: $brand-white;
      background-color: $brand-font;
    }
  }

  &__social {
    list-style: none;
    font-size: 23px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 12px;
    color: white;

    li {
      display: inline-block;
      margin-right: 5px;
      padding-left: 0;
    }

    a {
      color: $brand-white;
    }

    @media screen and (max-width: $md) {
      display: none;
    }
  }
}

.c-popular {
  background-color: $brand-white;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 100%;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;

  @media screen and (max-width: $md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .top {
    margin-bottom: 2.8rem;

    @media screen and (max-width: $md) {
      margin-bottom: 1.8rem;
    }
  }

  &__box {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
  }

  p {
    margin-bottom: 0.5rem;
  }

  &__about {
    &-social {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 1.4rem;

      a {
        color: #333;
      }

      li {
        display: inline-block;
        padding-left: 0;
        margin-right: 9px;
      }
    }
  }

  h3 {
    color: #333;
    font-size: 1.7rem;
    line-height: 0.75;
    margin-bottom: 3rem;

    @media screen and (max-width: $md) {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }

  &__posts {

  }

  &__post {
    display: block;
    position: relative;
    padding-left: 6rem;
    margin-bottom: 2.0rem;
    min-height: 5.4rem;
  }

  &__meta {
    font-size: .9rem;
    line-height: 1.615;
    color: #333;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1.3125;
    margin-bottom: .3rem;
    color: #333;
  }

  &__thumb {
    position: absolute;
    width: 80px;
    height: 80px;
    top: .3rem;
    left: 0;
    background-size: cover;
  }
}

.c-tags {
  text-align: center;

  &__wrap {
    max-width: 900px;
  }

  h3 {
    line-height: 1.375;
    margin-bottom: 2rem;

    @media screen and (max-width: $md) {
      margin-bottom: 1rem;
    }
  }

  &__clound {
    a {
      display: inline-block;
      font-family: "metropolis-extrabold", sans-serif;
      font-size: 1rem;
      line-height: 2.6rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      padding: 0 2rem;
      margin: 0 1.2rem 1.5rem 0;
      border-radius: 3px;
      background: #e2e2e2;
      text-decoration: none;
      color: #333333;
      position: relative;

      @media screen and (max-width: $md) {
        font-size: 0.8rem;
        line-height: 2rem;
        padding: 0 1rem;
        margin: 0 .5rem .5rem 0;
      }

      &:hover {
        color: $brand-white;
        background: #151515;
      }
    }
  }
}

.c-footer {
  padding-top: 5.2rem;
  padding-bottom: 3rem;
  font-size: 1.1rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.4);

  @media screen and (max-width: $md) {
    padding-top: 3.2rem;
  }

  &__main {
    margin-bottom: 1.8rem;
  }

  &__bottom {

  }

  &__copyright {

  }

  &__box {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__links {
    list-style: none;
    padding: 0;

    li {
      padding-left: 0;
    }

    a {
      color: rgba(255, 255, 255, 0.4);
      line-height: 1.6;
      font-weight: 300;
    }
  }

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-bottom: 2.1rem;
    color: $brand-white;
    margin-top: 0;
    position: relative;

    @media screen and (max-width: $md) {
      padding-bottom: 1.1rem;
    }

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 120px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

#disqus_thread {
  margin-top: 50px;
}
