$form-width: 560px;

body.devise {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-login {
  width: 100%;
  min-height: 100vh;
}

.c-login {
  &--wrap {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  }

  &__form {
    width: $form-width;
    min-height: 100vh;
    display: block;
    background-color: $brand-default;
    padding: 173px 55px 55px 55px;
  }

  &__img {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }

  &__button {
    background: transparent !important;
    border: 0.2rem solid #000000;
    border-radius: 0px;
    color: #000000;
  }
}

.form-control {
  border-radius: 0px !important;

  &:focus {
    border-color: #000000 !important;
  }
}
