%section.c-footer
  .c-footer__main
    .c-footer__box
      .row
        .col-md-2
          %h4 Quick Links
          %ul.c-footer__links
            %li
              %a{ href: root_path } Home
            %li
              %a{ href: contact_path } Contacts
            %li
              %a{ href: about_path } About
        .col-md-2
          %h4 Social links
          %ul.c-footer__links
            %li
              %a{ href: root_path } Instagram
            %li
              %a{ href: contact_path } Facebook
        .col-md-3
        .col-md-5
          %h4 Our newsletters
          %p ajskh fkjsaf jkhasj asjhf jkas jjksf hjkashf jhkas jahs jkasf
  .c-footer__bottom
    .c-footer__box
      .c-footer__copyright
        %span © Intonacia 2018
