/ Global site tag (gtag.js) - Google Analytics
%script{async: "", src: ENV['GA_URL']}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', ENV['GA_ID']);
