%header.header
  .header__content.box
    .header__logo
      %a{ href: root_path }
        = image_tag 'into-logo.png'
    %ul.header__social
      %li
        %i.fa.fa-facebook
      %li
        %i.fa.fa-instagram
      %li
        %i.fa.fa-twitter
    .header__search
      Search
    %nav.header__nav-wrap
      %ul.header__nav
        %li.current
          %a{ href: root_path } Home
        %li
          %a{ href: posts_path } Categories
        %li
          %a{ href: about_path } About
        %li
          %a{ href: contact_path } Contact
