%header.header#header
  .header__content.box
    .header__logo
      %a{ href: root_path }
        = image_tag 'into-logo.png'
    %ul.header__social
      %li
        %i.fa.fa-facebook
      %li
        %i.fa.fa-instagram
      %li
        %i.fa.fa-twitter
    .header__search
      Search
    %nav.header__nav-wrap
      %ul.header__nav
        %li{ class: active_if?(controller: 'homes') }
          %a{ href: root_path }= t('pages.home')
        %li{ class: active_if?(controller: 'posts', action: 'index') }
          .dropdown
            %a.dropdown-toggle{ href: '', data: { toggle: 'dropdown' } }= t('pages.categories')

            .dropdown-menu
              %button.dropdown-item Action
              %button.dropdown-item Another action
              %button.dropdown-item Something else here
        %li{ class: active_if?(controller: 'abouts') }
          %a{ href: about_path }= t('pages.abouts')
        %li{ class: active_if?(controller: 'contacts') }
          %a{ href: contact_path }= t('pages.contacts')
