%link{rel: 'alternate', hreflang: 'en', href: url_for(locale: 'en')}
%link{rel: 'alternate', hreflang: 'ru', href: url_for(locale: 'ru')}
%link{rel: 'alternate', hreflang: 'ua', href: url_for(locale: 'ua')}
