.c-top-news
  %h4.c-top-news__title
    = t('pages.homes.top_news')
  %ul.c-top-news__posts
    - if posts.empty?
      %p Пока нет новостей
    - posts.each do |post|
      = render 'posts/top_post', post: post
